<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>BookStore</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="materialize/css/indexStyle.css">
</head>

<body>
    <header>
        <nav class="mb-1 navbar navbar-expand-lg" style="z-index: 999;">
            <a class="navbar-brand" href="#"><img width="30px" src="https://image.flaticon.com/icons/svg/646/646434.svg"
                    alt="" srcset=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/livros">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../clientes/7">Perfil</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="jumbo" class="jumbotron card card-image">
            <div class="text-white text-center py-5 px-4">
                <div>
                    <h2 id="bookblur" class="card-title h1-responsive pt-3 mb-5 font-bold">
                        <strong>
                            Book Store
                        </strong>
                    </h2>
                </div>
            </div>
        </div>
    </header>


    <div class="container">
        <section>
            <h4 class="text-center my-5">
                <strong>Categorias</strong>
            </h4>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ação</h5>
                    <table class="container">
                        <thead>
                            <tr>
                                <th>Preço</th>
                                <th>Autor</th>
                                <th>Titulo</th>
                                <th>Descrição</th>
                                <th>Gênero</th>
                                <th>Adicionar No Carrinho</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="livro : ${livros}">
                                <td><span th:text="${livro.preco}"></span></td>
                                <td><span th:text="${livro.autor}"></span></td>
                                <td><span th:text="${livro.titulo}"></span></td>
                                <td><span th:text="${livro.descricao}"></span></td>
                                <td><span th:text="${livro.genero}"></span></td>
                                <td><a class="btn-floating btn-sm btn-primary"><span style="color:white" class="material-icons">shopping_cart</span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

</body>

</html>